
/* entire panel */
audio::-webkit-media-controls-panel {
  background-color: rgb(78, 78, 82);
  /* -webkit-appearance: none; */
}

/* current time and remaining time */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: yellow;
}

/* play button */
audio::-webkit-media-controls-play-button {
  background-color: rgb(150, 2, 2);
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button:hover {
  background-color: rgb(180, 0, 0);
}


/* input[type="range"]::-webkit-media-slider-container {
  -webkit-appearance: none;
  color: red;
  background-color: red;
}
audio::-webkit-media-controls-timeline-container{
  -webkit-appearance: none;
}
audio::-webkit-media-controls-timeline{
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #d3d3d3;
}
.slider::-webkit-slider-thumb {
  color: yellow !important;
  background-color: yellow !important;
}

audio::-webkit-slider-runnable-track {
  color: yellow !important;
  background-color: yellow !important;
} */
